<h1>Flats</h1>

<ul>
  <% @flats.each do |flat| %>
    <li>
      <%= flat['name'] %> - price: <%= flat['price'] %> €
      <%= link_to 'See more', flat_path(flat['id']) %>
    </li>
  <% end %>
</ul>